flows.json
[
    {
        "id": "abba7bf6e29b6166",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fbf7fc6ac617eac6",
        "type": "http in",
        "z": "abba7bf6e29b6166",
        "name": "",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c46024052af4daeb"
            ]
        ]
    },
    {
        "id": "87c409a2f2048576",
        "type": "http response",
        "z": "abba7bf6e29b6166",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b1bcf59563c6191",
        "type": "template",
        "z": "abba7bf6e29b6166",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Yapılacaklar Listesi</title>\n\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/font/bootstrap-icons.min.css\">\n</head>\n\n<body>\n    <div class=\"container mt-5\">\n        <div class=\"row\">\n            <div class=\"col-md-8 offset-md-2\">\n                {{#error}}\n                <div class=\"alert alert-danger\">\n                    <h4>{{message}}</h4>\n                </div>\n                {{/error}}\n                <form action=\"/opt/add\" method=\"POST\">\n                    <div class=\"input-group input-group-lg\">\n                        <input required type=\"text\" name=\"name\" class=\"form-control {{#error}}border-danger{{/error}}\" placeholder=\"Yoğurt al... Ekmek al...\">\n                        <button class=\"btn btn-outline-secondary\" type=\"reset\">Temizle</button>\n                        <button class=\"btn btn-primary px-5\" type=\"submit\">Ekle</button>\n                    </div>\n                </form>\n                <div class=\"card mt-2 overflow-hidden\">\n                    <div class=\"card-body p-0\">\n                        <div class=\"table-responsive\">\n                            <table class=\"table table-hover m-0\">\n                                <thead class=\"table-dark\">\n                                    <tr>\n                                        <th colspan=\"2\">İş</th>\n                                    </tr>\n                                </thead>\n                                <tbody>\n                                    {{#payload}}\n                                    <tr valign=\"middle\">\n                                        <td>\n                                            {{#done}}\n                                            <h4 class=\"text-muted\"><del>{{name}}</del></h4>\n                                            {{/done}}\n                                            {{^done}}\n                                            <h4>{{name}}</h4>\n                                            {{/done}}\n                                            <div class=\"badge bg-secondary\">\n                                                <small><i class=\"bi bi-calendar\"></i> {{date}} {{time}}</small></div>\n                                        </td>\n                                        <td align=\"right\">\n                                            <div class=\"btn-group\">\n                                                <form method=\"POST\">\n                                                    <input type=\"hidden\" name=\"id\" value=\"{{id}}\"/>\n                                                {{#done}}\n                                                    <button data-bs-toggle=\"tooltip\" data-bs-title=\"Aç\" type=\"submit\" formaction=\"/opt/open\" class=\"btn btn-warning\"><i class=\"bi bi-arrow-clockwise\"></i></button>\n                                                    {{/done}}\n                                                    {{^done}}\n                                                    <a data-bs-toggle=\"tooltip\" data-bs-title=\"Düzenle\" href=\"/edit/{{id}}\" class=\"btn btn-info\"><i class=\"bi bi-pencil-fill\"></i></a>\n                                                    <a data-bs-toggle=\"tooltip\" data-bs-title=\"Hatırlatıcı\" href=\"/schedule/{{id}}\" class=\"btn btn-secondary\"><i class=\"bi bi-alarm-fill\"></i></a>\n                                                    <button data-bs-toggle=\"tooltip\" data-bs-title=\"Tamamla\" type=\"submit\" formaction=\"/opt/complete\" class=\"btn btn-success\"><i class=\"bi bi-check-lg\"></i></button>\n                                                    {{/done}}\n                                                    <button data-bs-toggle=\"tooltip\" data-bs-title=\"Sil\" type=\"submit\" formaction=\"/opt/trash\" class=\"btn btn-danger\"><i class=\"bi bi-trash2-fill\"></i></button>\n                                                </form>\n                                            </div>\n                                        </td>\n                                    </tr>\n                                    {{/payload}}\n                                    {{^payload}}\n                                    <tr>\n                                        <td colspan=\"2\" class=\"text-muted text-center\">Henüz hiç giriş yapılmadı...</td>\n                                    </tr>\n                                    {{/payload}}\n                                </tbody>\n                            </table>\n                        </div>\n                    </div>\n                </div>\n\n            </div>\n        </div>\n    </div>\n    <div class=\"position-relative\"> \n        <a href=\"/user-list\" class=\"btn btn-danger btn-lg position-fixed bottom-0 end-0 m-5 shadow\"><i class=\"bi bi-person-fill\"></i></a>\n    </div>\n    <script src=\"/js/bootstrap.bundle.min.js\"></script>\n    <script>\n        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle=\"tooltip\"]')\n        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "87c409a2f2048576"
            ]
        ]
    },
    {
        "id": "12762f88b792841c",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "DB",
        "func": "// Flush DB\nglobal.set(\"DB\", {\n    todo: [],\n    user: []\n})",
        "outputs": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nconst DB = global.get(\"DB\") || {\n    todo: [],\n    user: []\n}\n\n/* \n * TODO DB Şema\n * id: NOW\n * name: \"\"\n * done: true|false\n * stamp: {\n *  createdAt: NOW,\n *  ip: IP,\n *  username: \"\"\n *  email: \"\"\n * },\n * schedule: {\n *  formData: {\n *    id: \"\"\n *    datetime: \"ISODate\"\n *  },\n *  options: {\n *    crontiMethod: \"onIntervalTime\",\n *    crontiArgs: [\"ISODate\", \"ISODate\"]\n *  }\n * }\n * date: \"GG.AA.YYYY\"\n * time: \"SS:DD:NN\"\n**/\n\n/* \n * USER DB Şema\n * id: NOW\n * displayName: \"\"\n * active: true|false\n * username: \"\"\n * password: \"HASH\"\n * email: \"\"\n * roles: []\n * stamp: {\n *  createdAt: NOW,\n *  ip: IP,\n *  username: \"\"\n *  email: \"\"\n * }\n * date: \"GG.AA.YYYY\"\n * time: \"SS:DD:NN\"\n**/\n\nglobal.set(\"DB\", DB)",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "5b2f2d302737e7a5",
        "type": "inject",
        "z": "abba7bf6e29b6166",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "12762f88b792841c"
            ]
        ]
    },
    {
        "id": "c46024052af4daeb",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "db.todo.find()",
        "func": "const DB = global.get(\"DB\")\n\nmsg.payload = DB.todo.sort((a, b) => b.stamp.createdAt - a.stamp.createdAt)\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 160,
        "wires": [
            [
                "6b1bcf59563c6191"
            ]
        ]
    },
    {
        "id": "73e6180d112e7e54",
        "type": "link in",
        "z": "abba7bf6e29b6166",
        "name": "link in 1",
        "links": [
            "7c4c185aa302a1fe",
            "3c8d36e2ad30af6a",
            "932198c039953859",
            "decf4a527c9f85db",
            "fd1822284bcceaaa",
            "ba4ef6b938761731",
            "477e1c3b889d302a",
            "1e2851ee92749943",
            "b6ea02a042c1970b",
            "93da13d1f4bf8b74",
            "afd06b249ddc66d3",
            "35ecd632839889a0",
            "1b48b5e03d7fe713",
            "3aaf54ff2c400651"
        ],
        "x": 145,
        "y": 120,
        "wires": [
            [
                "c46024052af4daeb"
            ]
        ]
    },
    {
        "id": "79cbd5238e7ebac3",
        "type": "http in",
        "z": "abba7bf6e29b6166",
        "name": "",
        "url": "/opt/:type",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "deb270ac729e057e"
            ]
        ]
    },
    {
        "id": "deb270ac729e057e",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "validation",
        "func": "const typeLookup = {\n    trash: {\n        text: \"Silmek\",\n        requireArgs: [\"id\"]\n    },\n    complete: {\n        text: \"Tamamlamak\",\n        requireArgs: [\"id\"]\n    },\n    open: {\n        text: \"Açmak\",\n        requireArgs: [\"id\"]\n    },\n    add: {\n        text: \"Eklemek\",\n        requireArgs: [\"name\"]\n    },\n    update: {\n        text: \"Güncellemek\",\n        requireArgs: [\"id\", \"name\"]\n    },\n    schedule: {\n        text: \"Hatırlatma Kurmak\",\n        requireArgs: [\"id\"]\n    }\n}\n\nif (!Object.keys(typeLookup).includes(msg.req.params.type)) {\n    msg.error = {\n        message: `${msg.req.params.type} geçersiz bir parametre değeridir.`\n    }\n    return [null, msg]\n}\n\nif (!typeLookup[msg.req.params.type].requireArgs.every(arg => msg.payload[arg])) {\n    msg.error = {\n        message: `${typeLookup[msg.req.params.type].text} istediğiniz elemanın ${typeLookup[msg.req.params.type].requireArgs} bilgisi(leri) olmalı.`\n    }\n    return [null, msg]\n}\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "f5ff2c6d900e8746"
            ],
            [
                "1e2851ee92749943"
            ]
        ],
        "outputLabels": [
            "Valid",
            "Invalid"
        ]
    },
    {
        "id": "f5ff2c6d900e8746",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "db.todo.opt()",
        "func": "const DB = global.get(\"DB\")\n\nlet todo = DB.todo\nconst date = new Date()\nconst now = date.getTime()\n\nif (msg.req.params.type === \"add\") {\n    todo.push({\n        id: now,\n        name: msg.payload.name,\n        done: false,\n        stamp: {\n            createdAt: now,\n            ip: msg.req.ip,\n            username: \"\",\n            email: \"\"\n        },\n        date: date.toLocaleDateString(\"TR\"), // DD.AA.YYYY\n        time: date.toLocaleTimeString(\"TR\") // SS:DD:NN\n    })\n} else {\n    const index = todo.findIndex(x => x.id == msg.payload.id)\n\n    if (!~index) {\n        msg.error = {\n            message: \"İd ile eşleşen bir kayıt bulunamadı.\"\n        }\n        return [null, msg]\n    }\n\n    if (msg.req.params.type === \"update\" && todo[index].done) {\n        msg.error = {\n            message: \"Tamamlanan işler güncellenemez.\"\n        }\n        return [null, msg]\n    }\n\n    if (msg.req.params.type === \"trash\") {\n        todo.splice(index, 1)\n    } else if (msg.req.params.type === \"schedule\") {\n        // In-Memory Schedule\n        let scheduleOptions = {\n            \"crontiMethod\": \"onIntervalTime\",\n            \"crontiArgs\": [msg.payload.datetime, msg.payload.datetime]\n        }\n        todo[index].schedule = {\n            formData: msg.payload,\n            options: scheduleOptions\n        }\n        msg.payload = scheduleOptions\n        msg.todo = todo[index]\n    } else {\n        switch (msg.req.params.type) {\n            case \"complete\":\n                todo[index].done = true\n                break;\n            case \"open\":\n                todo[index].done = false\n                break;\n            case \"update\":\n                todo[index].name = msg.payload.name\n                break;\n        }\n        todo[index].stamp = {\n            createdAt: now,\n            ip: msg.req.ip,\n            username: \"\",\n            email: \"\"\n        }\n        todo[index].date = date.toLocaleDateString(\"TR\") // DD.AA.YYYY\n        todo[index].time = date.toLocaleTimeString(\"TR\") // SS:DD:NN\n    }\n}\n\nDB.todo = todo\n\nglobal.set(\"DB\", DB)\n\nreturn msg.req.params.type === \"schedule\" ? [msg, null, msg] : msg",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "488c01fef752eb02"
            ],
            [
                "b6ea02a042c1970b"
            ],
            [
                "25ee0e5608f1e001"
            ]
        ],
        "outputLabels": [
            "Succ",
            "Err",
            ""
        ]
    },
    {
        "id": "1e2851ee92749943",
        "type": "link out",
        "z": "abba7bf6e29b6166",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "73e6180d112e7e54",
            "11428542993715c4"
        ],
        "x": 445,
        "y": 580,
        "wires": []
    },
    {
        "id": "488c01fef752eb02",
        "type": "http response",
        "z": "abba7bf6e29b6166",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/"
        },
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "b6ea02a042c1970b",
        "type": "link out",
        "z": "abba7bf6e29b6166",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "73e6180d112e7e54",
            "11428542993715c4"
        ],
        "x": 645,
        "y": 540,
        "wires": []
    },
    {
        "id": "9e01fe44c18931b1",
        "type": "http in",
        "z": "abba7bf6e29b6166",
        "name": "",
        "url": "/edit/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "538e8cd1d63357e9"
            ]
        ]
    },
    {
        "id": "538e8cd1d63357e9",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "db.todo.findOne()",
        "func": "const DB = global.get(\"DB\")\n\nmsg.payload = DB.todo.find(x => x.id == msg.req.params.id)\n\nif(!msg.payload) {\n    msg.error = {\n        message: \"İd ile eşleşen bir kayıt bulunamadı.\"\n    }\n    return [null, msg]\n}\n\nif (msg.payload.done) {\n    msg.error = {\n        message: \"Tamamlanan işler güncellenemez.\"\n    }\n    return [null, msg]\n}\n\nreturn msg",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "f80e60a48a56e1af"
            ],
            [
                "93da13d1f4bf8b74"
            ]
        ],
        "outputLabels": [
            "Succ",
            "Err"
        ]
    },
    {
        "id": "f80e60a48a56e1af",
        "type": "template",
        "z": "abba7bf6e29b6166",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Yapılacaklar Listesi</title>\n\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/font/bootstrap-icons.min.css\">\n</head>\n\n<body>\n    <div class=\"container mt-5\">\n        <div class=\"row\">\n            <div class=\"col-md-8 offset-md-2\">\n                {{#error}}\n                <div class=\"alert alert-danger\">\n                    <h4>{{message}}</h4>\n                </div>\n                {{/error}}\n                <form action=\"/opt/update\" method=\"POST\">\n                    <input type=\"hidden\" name=\"id\" value=\"{{payload.id}}\"/>\n                    <div class=\"mb-3\">\n                        <input required type=\"text\" name=\"name\" value=\"{{payload.name}}\" class=\"form-control form-control-lg {{#error}}border-danger{{/error}}{{^error}}border-info{{/error}}\" placeholder=\"Yoğurt al... Ekmek al...\">\n                    </div>\n                    <div class=\"mb-3 float-end\">\n                        <a class=\"btn btn-warning\" href=\"/\">Vazgeç</a>\n                        <button class=\"btn btn-outline-secondary\" type=\"reset\">Temizle</button>\n                        <button class=\"btn btn-success px-5\" type=\"submit\">Güncelle</button>\n                    </div>\n                </form>\n            </div>\n        </div>\n    </div>\n    <script src=\"/js/bootstrap.bundle.min.js\"></script>\n    <script>\n        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle=\"tooltip\"]')\n        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "27e2e6219bf0b171"
            ]
        ]
    },
    {
        "id": "93da13d1f4bf8b74",
        "type": "link out",
        "z": "abba7bf6e29b6166",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "73e6180d112e7e54",
            "11428542993715c4"
        ],
        "x": 495,
        "y": 280,
        "wires": []
    },
    {
        "id": "27e2e6219bf0b171",
        "type": "http response",
        "z": "abba7bf6e29b6166",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "25ee0e5608f1e001",
        "type": "crontinject",
        "z": "abba7bf6e29b6166",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "crontiMethod": "",
        "crontiArgs": "[]",
        "inputs": 1,
        "hasButton": false,
        "x": 680,
        "y": 580,
        "wires": [
            [
                "ad3455c62a3134a8"
            ]
        ]
    },
    {
        "id": "48e084d9ee8ac25b",
        "type": "http in",
        "z": "abba7bf6e29b6166",
        "name": "",
        "url": "/schedule/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "5ea77aadfb907306"
            ]
        ]
    },
    {
        "id": "5ea77aadfb907306",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "db.todo.findOne()",
        "func": "const DB = global.get(\"DB\")\n\nmsg.payload = DB.todo.find(x => x.id == msg.req.params.id)\n\nif(!msg.payload) {\n    msg.error = {\n        message: \"İd ile eşleşen bir kayıt bulunamadı.\"\n    }\n    return [null, msg]\n}\n\nif (msg.payload.done) {\n    msg.error = {\n        message: \"Tamamlanan işler için hatırlatma kurulamaz.\"\n    }\n    return [null, msg]\n}\n\nreturn msg",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "1070a816ecfad4f2"
            ],
            [
                "afd06b249ddc66d3"
            ]
        ],
        "outputLabels": [
            "Succ",
            "Err"
        ]
    },
    {
        "id": "1070a816ecfad4f2",
        "type": "template",
        "z": "abba7bf6e29b6166",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Yapılacaklar Listesi</title>\n\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/font/bootstrap-icons.min.css\">\n</head>\n\n<body>\n    <div class=\"container mt-5\">\n        <div class=\"row\">\n            <div class=\"col-md-8 offset-md-2\">\n                {{#error}}\n                <div class=\"alert alert-danger\">\n                    <h4>{{message}}</h4>\n                </div>\n                {{/error}}\n                <form action=\"/opt/schedule\" method=\"POST\">\n                    <input type=\"hidden\" name=\"id\" value=\"{{payload.id}}\"/>\n                    <div class=\"mb-3\">\n                        <input required type=\"datetime-local\" name=\"datetime\" value=\"{{payload.schedule.formData.datetime}}\" class=\"form-control form-control-lg {{#error}}border-danger{{/error}}{{^error}}border-info{{/error}}\" placeholder=\"gg.aa.yyyy ss:dd\">\n                    </div>\n                    <div class=\"mb-3 float-end\">\n                        <a class=\"btn btn-warning\" href=\"/\">Vazgeç</a>\n                        <button class=\"btn btn-outline-secondary\" type=\"reset\">Temizle</button>\n                        <button class=\"btn btn-success px-5\" type=\"submit\">Planla</button>\n                    </div>\n                </form>\n            </div>\n        </div>\n    </div>\n    <script src=\"/js/bootstrap.bundle.min.js\"></script>\n    <script>\n        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle=\"tooltip\"]')\n        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "67fdf42f2ea79e0d"
            ]
        ]
    },
    {
        "id": "afd06b249ddc66d3",
        "type": "link out",
        "z": "abba7bf6e29b6166",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "73e6180d112e7e54",
            "11428542993715c4"
        ],
        "x": 515,
        "y": 400,
        "wires": []
    },
    {
        "id": "67fdf42f2ea79e0d",
        "type": "http response",
        "z": "abba7bf6e29b6166",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "d08ab8c5bbe8733c",
        "type": "inject",
        "z": "abba7bf6e29b6166",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "DB.todo",
        "payloadType": "global",
        "x": 520,
        "y": 60,
        "wires": [
            [
                "9ebe694356776a06"
            ]
        ]
    },
    {
        "id": "9ebe694356776a06",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "schedule",
        "func": "msg.payload.forEach(x => x.schedule && node.send({ payload: x.schedule.options }))",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 60,
        "wires": [
            [
                "162d04391b6ca28e"
            ]
        ]
    },
    {
        "id": "551b2c5d3a1f0882",
        "type": "e-mail",
        "z": "abba7bf6e29b6166",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1150,
        "y": 580,
        "wires": []
    },
    {
        "id": "6a0c90edd273d90e",
        "type": "template",
        "z": "abba7bf6e29b6166",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<p>Merhaba {{todo.stamp.displayName}},</p>\n<p></p>\n{{todo.name}} işiniz için hatırlamak istiyoruz :)\n<p></p>\n<p>Bilginize.</p>",
        "output": "str",
        "x": 1000,
        "y": 580,
        "wires": [
            [
                "551b2c5d3a1f0882"
            ]
        ]
    },
    {
        "id": "ad3455c62a3134a8",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "header",
        "func": "msg.from = \"noreply <noreply@todo.com\"\nmsg.to = \"l.sencer.sahin@gmail.com\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 580,
        "wires": [
            [
                "6a0c90edd273d90e"
            ]
        ]
    },
    {
        "id": "135fd5ced51e9d69",
        "type": "link in",
        "z": "abba7bf6e29b6166",
        "name": "link in 2",
        "links": [
            "162d04391b6ca28e"
        ],
        "x": 555,
        "y": 600,
        "wires": [
            [
                "25ee0e5608f1e001"
            ]
        ]
    },
    {
        "id": "162d04391b6ca28e",
        "type": "link out",
        "z": "abba7bf6e29b6166",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "135fd5ced51e9d69",
            "9d681c989b623179"
        ],
        "x": 805,
        "y": 60,
        "wires": []
    },
    {
        "id": "7878aa68dd9475e4",
        "type": "http in",
        "z": "abba7bf6e29b6166",
        "name": "",
        "url": "/user-list",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "3ad8969a0b6dadd6"
            ]
        ]
    },
    {
        "id": "0454db004f53273f",
        "type": "http response",
        "z": "abba7bf6e29b6166",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 740,
        "wires": []
    },
    {
        "id": "b8dae339004d169c",
        "type": "template",
        "z": "abba7bf6e29b6166",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Kullanıcı Listesi</title>\n\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/font/bootstrap-icons.min.css\">\n</head>\n\n<body>\n    <div class=\"container mt-5\">\n        <div class=\"row\">\n            <div class=\"col-md-10 offset-md-1\">\n                {{#error}}\n                <div class=\"alert alert-danger\">\n                    <h4>{{message}}</h4>\n                </div>\n                {{/error}}\n                <form action=\"/user-opt/add\" method=\"POST\">\n                    <div class=\"input-group input-group-lg\">\n                        <input required type=\"text\" name=\"username\" value=\"{{error.formData.username}}\" class=\"form-control {{#error}}border-danger{{/error}}\" placeholder=\"Kullanıcı adı...\">\n                        <input required type=\"password\" name=\"password\" value=\"{{error.formData.password}}\" class=\"form-control {{#error}}border-danger{{/error}}\" placeholder=\"Parola...\">\n                        <input required type=\"email\" name=\"email\" value=\"{{error.formData.email}}\" class=\"form-control {{#error}}border-danger{{/error}}\" placeholder=\"E-Posta...\">\n                        <button class=\"btn btn-outline-secondary\" type=\"reset\">Temizle</button>\n                        <button class=\"btn btn-primary px-5\" type=\"submit\">Ekle</button>\n                    </div>\n                </form>\n                <div class=\"card mt-2 overflow-hidden\">\n                    <div class=\"card-body p-0\">\n                        <div class=\"table-responsive\">\n                            <table class=\"table table-hover m-0\">\n                                <thead class=\"table-dark\">\n                                    <tr>\n                                        <th>Kullanıcı Adı</th>\n                                        <th>İsim Soyisim</th>\n                                        <th>E-Posta</th>\n                                        <th></th>\n                                    </tr>\n                                </thead>\n                                <tbody>\n                                    {{#payload}}\n                                    <tr valign=\"middle\">\n                                        <td>\n                                            {{#active}}\n                                            <h4>{{#hasAdmin}}<i class=\"bi bi-incognito\"></i>{{/hasAdmin}} {{username}}</h4>\n                                            {{/active}}\n                                            {{^active}}\n                                            <h4 class=\"text-muted\"><del>{{#hasAdmin}}<i class=\"bi bi-incognito\"></i>{{/hasAdmin}} {{username}}</del></h4>\n                                            {{/active}}\n                                            <div class=\"badge bg-secondary\">\n                                                <small><i class=\"bi bi-calendar\"></i> {{date}} {{time}}</small>\n                                            </div>\n                                        </td>\n                                        <td>{{displayName}}</td>\n                                        <td>{{email}}</td>\n                                        <td align=\"right\">\n                                            <div class=\"btn-group\">\n                                                <a data-bs-toggle=\"tooltip\" data-bs-title=\"Düzenle\" href=\"/user-edit/{{id}}\"\n                                                    class=\"btn btn-info\"><i class=\"bi bi-pencil-fill\"></i></a>\n                                            </div>\n                                        </td>\n                                    </tr>\n                                    {{/payload}}\n                                    {{^payload}}\n                                    <tr>\n                                        <td colspan=\"2\" class=\"text-muted text-center\">Henüz hiç kullanıcı tanımlanmadı...</td>\n                                    </tr>\n                                    {{/payload}}\n                                </tbody>\n                            </table>\n                        </div>\n                    </div>\n                </div>\n\n            </div>\n        </div>\n    </div>\n    <div class=\"position-relative\">\n        <a href=\"/\"\n            class=\"btn btn-warning btn-lg position-fixed bottom-0 end-0 m-5 shadow\"><i class=\"bi bi-card-checklist\"></i></a>\n    </div>\n    <script src=\"/js/bootstrap.bundle.min.js\"></script>\n    <script>\n        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle=\"tooltip\"]')\n        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 500,
        "y": 740,
        "wires": [
            [
                "0454db004f53273f"
            ]
        ]
    },
    {
        "id": "3ad8969a0b6dadd6",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "db.user.find()",
        "func": "const DB = global.get(\"DB\")\n\nmsg.payload = DB.user?.map(x => (x.hasAdmin = x.roles.includes(\"admin\"), x)).sort((a, b) => b.stamp.createdAt - a.stamp.createdAt)\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 740,
        "wires": [
            [
                "b8dae339004d169c"
            ]
        ]
    },
    {
        "id": "78c46b9f0019ca18",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "validation",
        "func": "const typeLookup = {\n    add: {\n        text: \"Eklemek\",\n        requireArgs: [\"username\", \"password\"]\n    },\n    update: {\n        text: \"Güncellemek\",\n        requireArgs: [\"id\", \"!username\", \"password\", \"email\", \"roles\"],\n        validation: {\n            email(data) { return /^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,3})+$/.test(data) }\n        }\n    }\n}\n\nif (!Object.keys(typeLookup).includes(msg.req.params.type)) {\n    msg.error = {\n        message: `${msg.req.params.type} geçersiz bir parametre değeridir.`,\n        formData: msg.payload\n    }\n    return msg.req.headers.referer.includes(\"user-edit\") ? [null, null, msg] : [null, msg]\n}\n\nlet fields = Object.keys(msg.payload)\nif (!typeLookup[msg.req.params.type].requireArgs.every(arg => {\n    return ((typeLookup[msg.req.params.type].validation && typeLookup[msg.req.params.type].validation[arg]) \n        ? typeLookup[msg.req.params.type].validation[arg](msg.payload[arg]) \n        : true) && (arg.startsWith(\"!\") ? !fields.includes(arg.substr(1)) : fields.includes(arg))\n    })) {\n    msg.error = {\n        message: `${typeLookup[msg.req.params.type].text} istediğiniz elemanın ${typeLookup[msg.req.params.type].requireArgs} bilgisi(leri) olma(ma)lı.`,\n        formData: msg.payload\n    }\n    msg.referer = msg.req.headers.referer\n    return msg.req.headers.referer.includes(\"user-edit\") ? [null, null, msg] : [null, msg]\n}\n\nmsg.payload.roles = Array.isArray(msg.payload.roles) ? msg.payload.roles : [msg.payload.roles]\nreturn msg;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 880,
        "wires": [
            [
                "666058e49dc82136"
            ],
            [
                "2cb5ec28fd38dd02"
            ],
            [
                "1906557db225b987"
            ]
        ],
        "outputLabels": [
            "Valid",
            "Invalid",
            ""
        ]
    },
    {
        "id": "1bfcc6cfd025684c",
        "type": "http in",
        "z": "abba7bf6e29b6166",
        "name": "",
        "url": "/user-opt/:type",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "78c46b9f0019ca18"
            ]
        ]
    },
    {
        "id": "a6b075eca666a716",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "db.user.opt()",
        "func": "const DB = global.get(\"DB\")\n\nlet user = DB.user\nconst date = new Date()\nconst now = date.getTime()\n\nif (msg.req.params.type === \"add\") {\n    user.push({\n        id: now,\n        active: true,\n        stamp: {\n            createdAt: now,\n            ip: msg.req.ip,\n            username: \"\",\n            email: \"\"\n        },\n        roles: [\"user\"],\n        date: date.toLocaleDateString(\"TR\"), // DD.AA.YYYY\n        time: date.toLocaleTimeString(\"TR\"), // SS:DD:NN\n        ...msg.payload\n    })\n} else {\n    const index = user.findIndex(x => x.id == msg.payload.id)\n\n    if (!~index) {\n        msg.error = {\n            message: \"İd ile eşleşen bir kayıt bulunamadı.\",\n            formData: msg.payload\n        }\n        return [null, msg]\n    }\n\n    if (msg.payload.username) {\n        msg.error = {\n            message: \"Kullanıcı adı güncellenemez.\",\n            formData: msg.payload\n        }\n        return [null, msg]\n    }\n\n    msg.payload.active = msg.payload.status === \"active\"\n    delete msg.payload.status\n    user[index] = { ...user[index], ...msg.payload }\n    user[index].stamp = {\n        createdAt: now,\n        ip: msg.req.ip,\n        username: \"\",\n        email: \"\"\n    }\n    user[index].date = date.toLocaleDateString(\"TR\") // DD.AA.YYYY\n    user[index].time = date.toLocaleTimeString(\"TR\") // SS:DD:NN\n}\n\nDB.user = user\n\nglobal.set(\"DB\", DB)\n\nreturn msg",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 840,
        "wires": [
            [
                "7bd81d8dcef7330f"
            ],
            [
                "1c02162ca9b220f1"
            ]
        ],
        "outputLabels": [
            "Succ",
            "Err"
        ]
    },
    {
        "id": "7bd81d8dcef7330f",
        "type": "http response",
        "z": "abba7bf6e29b6166",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/user-list"
        },
        "x": 960,
        "y": 820,
        "wires": []
    },
    {
        "id": "4234b3f8c39ae8fb",
        "type": "link in",
        "z": "abba7bf6e29b6166",
        "name": "link in 3",
        "links": [
            "2cb5ec28fd38dd02",
            "1c02162ca9b220f1",
            "e5994961ccd8f3e3"
        ],
        "x": 165,
        "y": 700,
        "wires": [
            [
                "3ad8969a0b6dadd6"
            ]
        ]
    },
    {
        "id": "2cb5ec28fd38dd02",
        "type": "link out",
        "z": "abba7bf6e29b6166",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "4234b3f8c39ae8fb"
        ],
        "x": 435,
        "y": 880,
        "wires": []
    },
    {
        "id": "1c02162ca9b220f1",
        "type": "link out",
        "z": "abba7bf6e29b6166",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "4234b3f8c39ae8fb"
        ],
        "x": 925,
        "y": 860,
        "wires": []
    },
    {
        "id": "8b7583553625e5ed",
        "type": "bcrypt",
        "z": "abba7bf6e29b6166",
        "name": "",
        "action": "encrypt",
        "field": "payload.password",
        "hash": "payload",
        "target": "payload.password",
        "assignment": "assign",
        "match": "match",
        "outputs": 1,
        "rounds": 10,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "a6b075eca666a716"
            ]
        ]
    },
    {
        "id": "475106247b4d9ae4",
        "type": "http in",
        "z": "abba7bf6e29b6166",
        "name": "",
        "url": "/user-edit/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "6256b4c24538ac18"
            ]
        ]
    },
    {
        "id": "6256b4c24538ac18",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "db.user.findOne()",
        "func": "const DB = global.get(\"DB\")\n\nmsg.payload = DB.user.find(x => x.id == (msg.payload.id || msg.req.params.id))\n\nif(!msg.payload) {\n    msg.error = {\n        message: \"İd ile eşleşen bir kayıt bulunamadı.\"\n    }\n    return [null, msg]\n}\n\nmsg.hasUser = msg.payload.roles.includes(\"user\")\nmsg.hasAdmin = msg.payload.roles.includes(\"admin\")\n\nreturn msg",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1020,
        "wires": [
            [
                "d70cda81ae97b15e"
            ],
            [
                "e5994961ccd8f3e3"
            ]
        ],
        "outputLabels": [
            "Succ",
            "Err"
        ]
    },
    {
        "id": "d70cda81ae97b15e",
        "type": "template",
        "z": "abba7bf6e29b6166",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"tr\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Kullanıcı Listesi</title>\n\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/font/bootstrap-icons.min.css\">\n</head>\n\n<body>\n    <div class=\"container mt-5\">\n        <div class=\"row\">\n            <div class=\"col-md-8 offset-md-2\">\n                {{#error}}\n                <div class=\"alert alert-danger\">\n                    <h4>{{message}}</h4>\n                </div>\n                {{/error}}\n                <form action=\"/user-opt/update\" method=\"POST\">\n                    <input type=\"hidden\" name=\"id\" value=\"{{payload.id}}\"/>\n                    <div class=\"mb-3\">\n                        <label for=\"username\" class=\"form-label\">Kullanıcı Adı</label>\n                        <div\n                            class=\"form-control form-control-lg {{#error}}border-danger{{/error}}{{^error}}border-info{{/error}}\">\n                            {{payload.username}}</div>\n                    </div>\n                    <div class=\"mb-3\">\n                        <label for=\"displayName\" class=\"form-label\">İsim Soyisim</label>\n                        <input type=\"text\" name=\"displayName\" value=\"{{payload.displayName}}\" class=\"form-control form-control-lg {{#error}}border-danger{{/error}}{{^error}}border-info{{/error}}\" placeholder=\"İsim Soyisim...\">\n                    </div>\n                    <div class=\"mb-3\">\n                        <label for=\"email\" class=\"form-label\">* E-Posta Adresi</label>\n                        <input required type=\"email\" name=\"email\" value=\"{{payload.email}}\" class=\"form-control form-control-lg {{#error}}border-danger{{/error}}{{^error}}border-info{{/error}}\" placeholder=\"E-Posta...\">\n                    </div>\n                    <div class=\"mb-3\">\n                        <label for=\"password\" class=\"form-label\">Parola</label>\n                        <input type=\"password\" name=\"password\" class=\"form-control form-control-lg {{#error}}border-danger{{/error}}{{^error}}border-info{{/error}}\" placeholder=\"Parola...\">\n                    </div>\n                    <div class=\"mb-3\">\n                        <div class=\"form-check form-check-inline\">\n                            <input {{#payload.active}}checked{{/payload.active}} class=\"form-check-input\" type=\"radio\" name=\"status\" id=\"active\" value=\"active\">\n                            <label class=\"form-check-label\" for=\"active\">Aktif</label>\n                        </div>\n                        <div class=\"form-check form-check-inline\">\n                            <input {{^payload.active}}checked{{/payload.active}} class=\"form-check-input\" type=\"radio\" name=\"status\" id=\"pasive\" value=\"pasive\">\n                            <label class=\"form-check-label\" for=\"pasive\">Pasif</label>\n                        </div>\n                    </div>\n                    <div class=\"mb-3\">\n                        <div class=\"form-check form-check-inline\">\n                            <input {{#hasUser}}checked{{/hasUser}} class=\"form-check-input\" type=\"checkbox\" name=\"roles\" id=\"user\" value=\"user\">\n                            <label class=\"form-check-label\" for=\"user\">Standart Kullanıcı</label>\n                        </div>\n                        <div class=\"form-check form-check-inline\">\n                            <input {{#hasAdmin}}checked{{/hasAdmin}} class=\"form-check-input\" type=\"checkbox\" name=\"roles\" id=\"admin\" value=\"admin\">\n                            <label class=\"form-check-label\" for=\"admin\">Yetkili Kullanıcı</label>\n                        </div>\n                    </div>\n                    <div class=\"mb-3 float-end\">\n                        <a class=\"btn btn-warning\" href=\"/user-list\">Vazgeç</a>\n                        <button class=\"btn btn-outline-secondary\" type=\"reset\">Temizle</button>\n                        <button class=\"btn btn-success px-5\" type=\"submit\">Güncelle</button>\n                    </div>\n                </form>\n            </div>\n        </div>\n    </div>\n    <script src=\"/js/bootstrap.bundle.min.js\"></script>\n    <script>\n        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle=\"tooltip\"]')\n        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 560,
        "y": 1000,
        "wires": [
            [
                "ca4fa3b57627adc9"
            ]
        ]
    },
    {
        "id": "ca4fa3b57627adc9",
        "type": "http response",
        "z": "abba7bf6e29b6166",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e5994961ccd8f3e3",
        "type": "link out",
        "z": "abba7bf6e29b6166",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "4234b3f8c39ae8fb"
        ],
        "x": 515,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8ba66a012fa0d648",
        "type": "link in",
        "z": "abba7bf6e29b6166",
        "name": "link in 4",
        "links": [
            "1906557db225b987"
        ],
        "x": 195,
        "y": 1060,
        "wires": [
            [
                "6256b4c24538ac18"
            ]
        ]
    },
    {
        "id": "1906557db225b987",
        "type": "link out",
        "z": "abba7bf6e29b6166",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "8ba66a012fa0d648"
        ],
        "x": 435,
        "y": 920,
        "wires": []
    },
    {
        "id": "666058e49dc82136",
        "type": "function",
        "z": "abba7bf6e29b6166",
        "name": "function 1",
        "func": "if(msg.payload.password) return msg\ndelete msg.payload.password\nreturn [null, msg]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 840,
        "wires": [
            [
                "8b7583553625e5ed"
            ],
            [
                "a6b075eca666a716"
            ]
        ]
    }
]